<div class="container">
  <div class="table-wrapperr">
      <div class="table-title">
          <div class="row">
              <div class="col-sm-6">
      <h2>Manage <b>Transaction</b></h2>
    </div>
    <div class="col-sm-6">
      <a href="#add" class="btn btn-success" data-toggle="modal" (click)="openDialog()" matTooltip="click to add a new transaction"
                  matTooltipPosition="after"><i class="material-icons">&#xE147;</i> <span>Add New Transaction</span></a>
    </div>
          </div>
      </div>
      <table matSort (matSortChange)="sortData($event)" class="table table-bodered table-hover table-condensed table-responsive">

        <thead>
          <tr>
            <th scope="col1">Date</th>
            <th scope="col3">income</th>
            <th scope="col2">expe</th>
            <th scope="col3">exp type</th>
            <th mat-sort-header="typeOfIncome">inc type</th>
            <th>paidBy</th>
            <th>paidFor</th>
            <th>receivedBy</th>
            <th>receivedFor</th>
            <th scope="col3">comment</th>
                  <th>Actions</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let t of sortedData">
                  <td>{{t.date | date: 'dd/MM/yyyy'}}</td>
                  <td>{{t.income}}</td>
                  <td>{{t.expense}}</td>
                  <td>{{t.typeOfExpense}}</td>
                  <td>{{t.typeOfIncome}}</td>
                  <td>{{t.paidBy}}</td>
                  <td>{{t.paidFor}}</td>
                  <td>{{t.receivedBy}}</td>
                  <td>{{t.paidFor}}</td>
                  <td>{{t.comment}}</td>
                <td>
                      <a href="#editModal" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit" matTooltip="click to edit transaction"
                  matTooltipPosition="after">&#xE254;</i></a>
                      <a href="#deleteModal" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete" matTooltip="Click to delete the transaction"
                  matTooltipPosition="after">&#xE872;</i></a>
                  </td>
              </tr>
          </tbody>
      </table>

  </div>
</div>
