/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@import url( 'https://fonts.googleapis.com/icon?family=Material+Icons');

@import '~@angular/material/theming';
body {
     padding-top: 60px; 
  background-color: #e9ecef;
}

.mat-sort-header-container {
    align-items: center;
  }
  
